/**
ColorScheme Designer:
http://colorschemedesigner.com/
*/
body {
    font-family: 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
}

a {
    text-decoration: none;
    color: #888;
}

ul {
    list-style-type: none;
}

.hidden {
    visibility: hidden;
    display: none;
}

#container {
    margin: 0 auto;
    width: 900px;
}

#search_form {
    
    text-align: right;
}
#sep_line1 {
    background-color: #25aae1;
    width: 900px;
    
    /*
      "safe" min-height
      */
    min-height:2px;
    height:auto !important;
    height:2px; 
}

#facet_view {
    float: left;
    width: 240px;
    
    border-right: 1px solid #CCC;

    /*
      "safe" min-height
      */
    min-height:200px;
    height:auto !important;
    height:200px; 
}

#facet_view ul
{
    /* 
       for removing pesky indent 
     */
    margin: 0px;
    padding: 0px;
    height: auto auto;
}

.facet_list li
{
    width: 215px;
    margin: 1px;

    list-style-type: none;
    border-top: 1px solid #CCC;
    color: #1C94C4;
    padding: 2px 5px;
}

.facet_list a {
    color: #25AAE1;
}

#filter_view {
    /*border: 1px solid #d8d8d8;*/
    
    margin: 5px;
    padding: 5px;

    /*
      "safe" min-height
      */
    min-height:20px;
    height:auto !important;
    height:20px; 
}

#filter_view ul {
    /* 
       for removing pesky indent x
     */
    margin: 0px 0px;
    padding: 0 0px;

}

#search_view ul
{
    /* 
       for removing pesky indent 
     */
    margin: 0px 0px;
    padding: 0 0px;

}

#filter_view ul li {

    border: 1px solid #CCC;
    background: #F6F6F6;

    width: 840px;
    margin: 2px 0px;
    padding: 0px 20px;
}

#filter_view {
    font-size: 90%;
    margin: 5px;
}


#val_list li
{
    width: 188px;
    margin: 5px;

    list-style-type: none;
    border: 0px solid #ccc;
    border-top: 1px solid #ccc;
    /*background: #f6f6f6;*/
    padding: 0px 0px;
    font-size: 90%;
}
#val_list a {
    color: #555;
    font-size: 80%;
    margin: 5px;
}
#val_list .ui-selected {
    background: #ffd058;
}

#filter_view #val_list li {
    /*display: inline;*/
    /*float: left;*/
    width: auto;
}