/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$qBlue: #25aae1;
$qlBlue: #1C94C4;

$gray: #CCC;
$d-gray: #777;

/**
ColorScheme Designer:
http://colorschemedesigner.com/
*/
body {
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    //font-family: 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
}

a {
    text-decoration: none;
    color: #888;
}

label {
    qcolor: #888;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.hidden {
    visibility: hidden;
    display: none;
}

#container {
    margin: 0 auto;
    width: 900px;
}

#search_form {
    
    text-align: right;
}
#sep_line1 {
    background-color: $qBlue;
    width: 900px;
    
    /*
      "safe" min-height
      */
    min-height:2px;
    height:auto !important;
    height:2px; 
}

#facet_view {
    float: left;
    //width: 240px;
    //width: 100%;    

    border-right: 1px solid #CCC;

    .tool { 
	    -moz-user-select: none; 
	    -khtml-user-select: none;
	    -webkit-user-select: none;
	    user-select: none; 
	    position: absolute;
	    right: 0;
	    height: 100%;
    }
    /*
      "safe" min-height
      */
    min-height:200px;
    height:auto !important;
    height:200px;
}

.facet_list {
    li {
	//width: 215px;
	
	margin-right: 20px;
	margin-bottom: 5px;
	
	list-style-type: none;
	border-top: 1px solid #CCC;
	color: $qlBlue;
	padding: 2px 5px;
    }
    a {
	color: $qBlue;
    }
    .groupElement {
    border-top: 0px solid #FFF;
    }
}


ul {
    /* 
    for removing pesky indent x
    */
    height: auto auto;
    margin: 0px 0px;
    padding: 0 0px;
}

#global_toolbar {
	height:10px;
	.toolbar{
	 font-size:80%;
	 min-height:70px;
   height:auto !important;
   height:70px;
	 //float: right;
   left:-100px;
   //left:auto;
  //position: absolute;
  }
}

#filter_view {
	
	.toolbar {
    -moz-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
    position: absolute;
    right: 0;
    z-index: 10;
    li {
    border-radius: 3px;
    border: 1px solid #CCC;
    }
}
    #filter_tray {
	/*
	  "safe" min-height
	  */
	min-height:30px;
	height:auto !important;
	height:30px;
	
	ul {
	    
	    //width: 840px;
	}
    }
    ul li {
	border-radius: 3px;
	border: 1px solid #CCC;

	margin: 2px 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;	
	padding-bottom: 2px;
	div {
	    //margin-left: auto;
	    //margin-right: auto;
	    text-align:center;
	}

	.tool {
	    padding: 0;
	    margin: 0;
	    margin-right:10px;
	}
	
    }
    
    .ui-slider {
	margin:5px
    }
    label {
//	margin-left:auto;
//	margin-right:auto;
	margin: 0 auto;
	text-align:center;
    }
    #val_list li {
	display: inline-block;
    }
    
    /*
      "safe" min-height
      */
    min-height:20px;
    height:auto !important;
    height:20px;
}



#val_list {
    li {
	border-top: 1px solid #ccc;
	padding: 0px 0px;
	font-size: 90%;
    }
    a {
	color: #555;
	font-size: 80%;
	margin: 5px;
    }
    .selected {
	background: #ffd058;
	border: {
	    style:solid;
	    width:1px;
	    top:{
		color:$d-gray;
	    }
	    left:{
		color:$d-gray;
	    }
	    right:{
		color:$gray;
	    }
	    bottom:{
		color:$gray;
	    }
	}
    }
}

#header {
    padding: 10px;
    margin: 10px;
    img {
	vertical-align:middle;
	
    }
}

#search_results {
    // add class when in "landscape mode"

    overflow:auto;
    overflow-y:hidden;
    #result_list {
	margin:8px;
	margin-left:15px;
	border-collapse: separate;
	border-spacing: 15px 4px;
	width: 96%;
	
	th {
	    font-weight:bold;
	    padding-bottom:4px;
	}
	td {
	    border-spacing: 5px;
	}
    }
}



#search_results_wrapper {
    height: 0;
}

div {
    position: relative;
}

.tool {
    display: inline-block;    
}

.collapsedValues {
   	font-size: 80%;
   	font-style:italic;
   	color: #888;
}

table {
    th {
	padding: 2px 5px;
    }
    td {
	padding: 0px 5px;
    }
}

