/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
ColorScheme Designer:
http://colorschemedesigner.com/
*/
/* line 18, ../sass/screen.scss */
body {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
}

/* line 23, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #888;
}

/* line 28, ../sass/screen.scss */
label {
  qcolor: #888;
}

/* line 32, ../sass/screen.scss */
ul {
  list-style-type: none;
}

/* line 36, ../sass/screen.scss */
li {
  list-style-type: none;
}

/* line 40, ../sass/screen.scss */
.hidden {
  visibility: hidden;
  display: none;
}

/* line 45, ../sass/screen.scss */
#container {
  margin: 0 auto;
  width: 900px;
}

/* line 50, ../sass/screen.scss */
#search_form {
  text-align: right;
}

/* line 54, ../sass/screen.scss */
#sep_line1 {
  background-color: #25aae1;
  width: 900px;
  /*
    "safe" min-height
    */
  min-height: 2px;
  height: auto !important;
  height: 2px;
}

/* line 66, ../sass/screen.scss */
#facet_view {
  float: left;
  border-right: 1px solid #CCC;
  /*
    "safe" min-height
    */
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
/* line 73, ../sass/screen.scss */
#facet_view .tool {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  height: 100%;
}

/* line 91, ../sass/screen.scss */
.facet_list li {
  margin-right: 20px;
  margin-bottom: 5px;
  list-style-type: none;
  border-top: 1px solid #CCC;
  color: #1c94c4;
  padding: 2px 5px;
}
/* line 102, ../sass/screen.scss */
.facet_list a {
  color: #25aae1;
}
/* line 105, ../sass/screen.scss */
.facet_list .groupElement {
  border-top: 0px solid #FFF;
}

/* line 111, ../sass/screen.scss */
ul {
  /* 
  for removing pesky indent x
  */
  height: auto auto;
  margin: 0px 0px;
  padding: 0 0px;
}

/* line 120, ../sass/screen.scss */
#global_toolbar {
  height: 10px;
}
/* line 122, ../sass/screen.scss */
#global_toolbar .toolbar {
  font-size: 80%;
  min-height: 70px;
  height: auto !important;
  height: 70px;
  left: -100px;
}

/* line 134, ../sass/screen.scss */
#filter_view {
  /*
    "safe" min-height
    */
  min-height: 20px;
  height: auto !important;
  height: 20px;
}
/* line 136, ../sass/screen.scss */
#filter_view .toolbar {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  z-index: 10;
}
/* line 144, ../sass/screen.scss */
#filter_view .toolbar li {
  border-radius: 3px;
  border: 1px solid #CCC;
}
/* line 149, ../sass/screen.scss */
#filter_view #filter_tray {
  /*
    "safe" min-height
    */
  min-height: 30px;
  height: auto !important;
  height: 30px;
}
/* line 162, ../sass/screen.scss */
#filter_view ul li {
  border-radius: 3px;
  border: 1px solid #CCC;
  margin: 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 171, ../sass/screen.scss */
#filter_view ul li div {
  text-align: center;
}
/* line 177, ../sass/screen.scss */
#filter_view ul li .tool {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
/* line 185, ../sass/screen.scss */
#filter_view .ui-slider {
  margin: 5px;
}
/* line 188, ../sass/screen.scss */
#filter_view label {
  margin: 0 auto;
  text-align: center;
}
/* line 194, ../sass/screen.scss */
#filter_view #val_list li {
  display: inline-block;
}

/* line 209, ../sass/screen.scss */
#val_list li {
  border-top: 1px solid #ccc;
  padding: 0px 0px;
  font-size: 90%;
}
/* line 214, ../sass/screen.scss */
#val_list a {
  color: #555;
  font-size: 80%;
  margin: 5px;
}
/* line 219, ../sass/screen.scss */
#val_list .selected {
  background: #ffd058;
  border-style: solid;
  border-width: 1px;
  border-top-color: #777777;
  border-left-color: #777777;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
}

/* line 240, ../sass/screen.scss */
#header {
  padding: 10px;
  margin: 10px;
}
/* line 243, ../sass/screen.scss */
#header img {
  vertical-align: middle;
}

/* line 249, ../sass/screen.scss */
#search_results {
  overflow: auto;
  overflow-y: hidden;
}
/* line 254, ../sass/screen.scss */
#search_results #result_list {
  margin: 8px;
  margin-left: 15px;
  border-collapse: separate;
  border-spacing: 15px 4px;
  width: 96%;
}
/* line 261, ../sass/screen.scss */
#search_results #result_list th {
  font-weight: bold;
  padding-bottom: 4px;
}
/* line 265, ../sass/screen.scss */
#search_results #result_list td {
  border-spacing: 5px;
}

/* line 273, ../sass/screen.scss */
#search_results_wrapper {
  height: 0;
}

/* line 277, ../sass/screen.scss */
div {
  position: relative;
}

/* line 281, ../sass/screen.scss */
.tool {
  display: inline-block;
}

/* line 285, ../sass/screen.scss */
.collapsedValues {
  font-size: 80%;
  font-style: italic;
  color: #888;
}

/* line 292, ../sass/screen.scss */
table th {
  padding: 2px 5px;
}
/* line 295, ../sass/screen.scss */
table td {
  padding: 0px 5px;
}
